/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
    height: 853.12px;
    background-color: black;
    margin: 34px 0 23px 32px;
    border-radius: 25px;
}
.sidebar-nav {
    margin-top: 100px;
}

/* .logo-name {
    font-size: 24px;
    font-weight: 500;
}
.sidebar-logo {
    margin-bottom: 57px;
} */
.nav-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 44px;
}
.nav-list {
    font-size: 15.71px;
}
.nav-list li {
    margin-bottom: 60px;
}
.nav-list img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 26px;
    height: auto;
    object-fit: none;
}
/* .nav-list a:hover {
    color: orangered;
}
.nav-list a {
    transition: color 0.2s ease-in;
} */
.sidebar-help {
    margin-top: auto;
}
.help {
    font-size: 15.7px;
}
.help-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
}



.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* header */

.header_container {
    display: flex;
    width: 620px;
    height: 160px;
    background-color: rgb(241, 239, 239);
    margin-top: 34px;
    border-radius: 20px;
    flex-direction: row;
}
.header_img {
    margin-left: 90px;
    margin-top: -31px;
    width: 175px;
    height: 191px;
}
.header_text {
    padding: 40px 0px 50px 32px;
}
.header_title {
    font-size: 32px;
    font-weight: 400;
    line-height: 57px;
}
.header_title_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* mycourse */

.mycourse_container {
    display: flex;
    flex-direction: row;
}

.mycourse_current {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 500px;
    height: 80px;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-start;
}
.mycourse_spanish {
    display: flex;
    margin: 8px 0px 8px 8px;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mycourse_spanish_logo {
    display: flex;
    width: 32px;
    height: 32px;
}
.mycourse_current_name {
    margin-left: 20px;
}
.mycourse_name_title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.mycourse_author {
    font-size: 13px;
    line-height: 15px;
}
.mycourse_progress {
    display: flex;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.mycourse_continue_btn {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.mycourse_arr_btns {
    display: flex;
    margin: 50px 0px 0px 15px;
    gap:20px;
}


/* allcourses */


.allcourses_container {
    margin-top: 40px;
}

.allcourses_container_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}
.allcourses_categories {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.allcourses_categories_item {
    font-size: 16px;
    line-height: 25px;
    color: gray;
}
.current {
    font-weight: bold;
    color: black;
}
.allcourses_block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.allcourses_block_item {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 620px;
    height: 80px;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
}
.allcourses_item_title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.allcourses_item_author {
    font-size: 13px;
    line-height: 15px;
}
.allcourses_item {
    display: flex;
    margin: 8px 0px 8px 8px;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.allcourses_viewbtn {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.allcourses_item_name {
    margin-left: 20px;
}
.allcourses_item_time , .allcourses_item_rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}


/* navigation */

.navigation_block {
    display: flex;
    margin: 34px 0px 0px 65px;
}
.search_bar {
    width: 300px;
    height: 44px;
}
.search_label {
    display: flex;
    height: 100%;
}
.search_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 26px;
    height: auto;
    object-fit: none;
}
.search_input {
    flex-grow: 1;
    padding: 0 17px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Circular Std';
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
}
.search_input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}
.notification_icon, .profile_icon {
    margin-left: 30px;
    margin-bottom: 10px;
}
.arrdown_icon {
    margin-top: 20px;
    margin-left: 10px;
}

/* statistic boxes */

.statistics_block_boxes {
    margin: 40px 0px 0px 65px;
    display: flex;
    gap: 25px;

}
.statistics_box_complete, .statistics_box_progress {
    display: flex;
    width: 208px;
    height: 100px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.statistics_box_total {
    font-size: 64px;
    font-weight: bold;
    line-height: 102px;
}
.statistics_box_title {
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}