<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Challenge</title>
</head>
<body>
    
  <div class="sidebar">
    <nav class="sidebar-nav nav">
        <ul class="nav-list">
            <li><a href="../index.html"><img src="../assets/icons/home.svg" alt="home"></a></li>
            <li><a href="../authorization/authorization.html"><img src="../assets/icons/me.svg" alt="me"></a></li>
            <li><a href="../ebook.html"><img src="../assets/icons/study.svg" alt="study"></a></li>
            <li><a href="../statistic/statistic.html"><img class="statistic_icon" src="../assets/icons/stats.png" alt="statistics"></a></li>
            <li><a href="../sprint/sprint-main.html"><img src="../assets/icons/sprint.svg" alt="Sprint"></a></li>
            <li><a href="../challenge/challenge-main.html"><img src="../assets/icons/audiocall.svg"></a></li>
        </ul>
    </nav>
  </div>

    <div>
        <div class="main-game-block">
          <img src="../assets/icons/woman-voice-svgrepo-com.svg" alt="voice" class="img-voice" id="clkvoice">
          <div class="wrapper-show">
            <img src="../assets/img/header-img.jpeg" alt="img" class="show-img" id="showimg">
            <span class="text-show" id="engwrld"></span>
          </div>
          <div class="text-circles" id="spsword">
          </div>
          <div class="btn-wrapper">
            <button class="sprint-playbtn purple" id="idplay">Next</button>
            <button class="sprint-playbtn pink" id="iddont">Help</button>
          </div>
        </div>
    </div>
</body>
</html>