<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint</title>
</head>
<body>
  <div class="sidebar">
    <nav class="sidebar-nav nav">
        <ul class="nav-list">
            <li><a href="../index.html"><img src="../assets/icons/home.svg" alt="home"></a></li>
            <li><a href="../authorization/authorization.html"><img src="../assets/icons/me.svg" alt="me"></a></li>
            <li><a href="../ebook.html"><img src="../assets/icons/study.svg" alt="study"></a></li>
            <li><a href="../statistic/statistic.html"><img class="statistic_icon" src="../assets/icons/stats.png" alt="statistics"></a></li>
            <li><a href="../sprint/sprint-main.html"><img src="../assets/icons/sprint.svg" alt="Sprint"></a></li>
            <li><a href="../challenge/challenge-main.html"><img src="../assets/icons/audiocall.svg"></a></li>
        </ul>
    </nav>
  </div>
    <div>
        <!--<img class="full-icon" src="../assets/icons/fullscreen-exit-svgrepo-com.svg" alt="leave">-->
        <!--<img class="full-icon" src="../assets/icons/fullscreen-svgrepo-com.svg" alt="full">-->
        <div class="main-game-block">
            <h2 id="sppoint" class="title-text">Points</h2>
            <h2 id="spweight" class="title-text">Weight</h2>
            <div class="title-circles">
                <span class="circle" id="circle1" style="background-color: rgb(241, 239, 239)"></span>
                <span class="circle" id="circle2" style="background-color: rgb(241, 239, 239)"></span>
                <span class="circle" id="circle3" style="background-color: rgb(241, 239, 239)"></span>
            </div>
            <div class="allcourses-game-block">
              <div class="allcourses-game-block-item">
                <div class="game-block-wrapper">
                  <h2 id="spengword"></h2>
                  <h3 id="sprusword"></h3>
                  <button class="sprint-playbtn purple" id="spright">Right</button>
                  <button class="sprint-playbtn pink" id="spwrong">Wrong</button>
                </div>     
              </div>
            </div>
            <div id="timer" class="timer-place">Timer</div>
        </div>
    </div>
</body>
</html>