<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Book</title>
</head>
<body class="body">
  <div class="sidebar">
    <nav class="sidebar-nav nav">
        <ul class="nav-list">
            <li><a href="#"><img src="./assets/icons/home.svg" alt="home"></a></li>
            <li><a href="#"><img src="./assets/icons/study.svg" alt="study"></a></li>
            <li><a href="./authorization.html"><img src="./assets/icons/me.svg" alt="me"></a></li>
            <li><a href="#"><img src="./assets/icons/mail.svg" alt="mail"></a></li>
            <li><a href="#"><img src="./assets/icons/settings.svg" alt="settings"></a></li>
        </ul>
    </nav>
    <div class="sidebar-help">
        <a class="help" href="#">
            <img class="help-icon" src="./assets/icons/leave.svg" alt="leave">
        </a> 
    </div>
</div>
<main class="main">
    <div class="main-wrapper">
      <header class="header">
          <div class="header_container">
              <div class="header_text">
                  <h1 class="header_title">Hello, friend</h1>
                  <span class="header_title_text">It’s good to see you again.</span>  
              </div>
              <img class="header_img" src="./assets/icons/header-img.svg">
          </div>
      </header>
      
      <div class="ebook-wrapper">
        <div class="level-buttons">
          <div class="level" id="level0">A1 Elementary</div>
          <div class="level" id="level1">A2 Pre-Intermadiate</div>
          <div class="level" id="level2">B1 Intermediate</div>
          <div class="level" id="level3">B2 Upper-Intermediate</div>
          <div class="level" id="level4">C1 Advanced</div>
          <div class="level" id="level5">C2 Proficiency</div>
          <div class="level" id="difficult">Difficult words</div> 
        </div>
        <div class="words-list-wrapper"></div>
        <div class="pagination">
          <div class="previous arrow">←</div>
          <div class="current">1</div>
          <div class="next arrow">→</div>
        </div>
      </div>
  </main>

  <footer class="footer">
    <div class="footer_block">

       <div class="footer_course">
          <a href="https://rs.school"><img class="course_logo" src="./assets/icons/rs_school.svg"></a>
           <span class="course_year">2022 г.</span>
       </div>

       <div class="presentation"> <a href="https://www.youtube.com" target="_blank">Presentation</a></div>

       <div class="footer_team">
          <div class="footer_team_member">
              <a href="https://github.com/antosha-baboshin"><img class="github_logo" src="./assets/icons/github_icon.svg"></a>
              <span class="team_member_name">Antosha</span>
          </div>
          <div class="footer_team_member">
              <a href="https://github.com/sveta077"><img class="github_logo" src="./assets/icons/github_icon.svg"></a>
              <span class="team_member_name">Svetlana</span>
          </div>
          <div class="footer_team_member">
              <a href="https://github.com/pssofer"><img class="github_logo" src="./assets/icons/github_icon.svg"></a>
              <span class="team_member_name">Pavel</span>
          </div>
       </div>

    `</div>
  `</footer>

</body>
</html>