* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.level-buttons {
  display: flex;
  justify-content: space-around;
}

.level {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.level:hover {
  background-color: aqua;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrow {
  cursor: pointer;
}