<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RSLang</title>
</head>
<body class="body-components">

    <div class="sidebar">
        <nav class="sidebar-nav nav">
            <ul class="nav-list">
                <li><a href="../index.html"><img src="../assets/icons/home.svg" alt="home"></a></li>
                <li><a href="../authorization/authorization.html"><img src="../assets/icons/me.svg" alt="me"></a></li>
                <li><a href="../ebook.html"><img src="../assets/icons/study.svg" alt="study"></a></li>
                <li><a href="../statistic/statistic.html"><img class="statistic_icon" src="../assets/icons/stats.png" alt="statistics"></a></li>
                <li><a href="../sprint/sprint-main.html"><img src="../assets/icons/sprint.svg" alt="Sprint"></a></li>
                <li><a href="../challenge/challenge-main.html"><img src="../assets/icons/audiocall.svg"></a></li>
            </ul>
        </nav>
      </div>

   
    <div class="main-sprint-block">
        <div class="allcourses-sprint-block">
            <div class="allcourses-sprint-block-item">
                <div class="allcourses-sprint-item">
                    <img class="allcourses-sprint-item-logo" src="../assets/img/statistics.jpeg">
                </div>
                <div class="allcourses-sprint-item-name">
                    <h2 class="allcourses-sprint-item-title">Statistics</h2>
                </div>           
            </div>
        </div>
      <div class="authwrapper">
        <h2>Dear friend, look at your progress for today!</h2>
        <div class="main-stat-block" id="statisic"></div>
      </div>
    </div>

    <footer class="footer-components">
        <div class="footer_block">
          <div class="footer_course">
            <a href="https://rs.school"><img class="course_logo" src="../../assets/icons/rs_school.svg"></a>
              <span class="course_year">2022</span>
          </div>
    
          <div class="presentation"> <a href="https://www.youtube.com" target="_blank">Presentation</a></div>
    
          <div class="footer_team">
            <div class="footer_team_member">
                <a href="https://github.com/antosha-baboshin"><img class="github_logo" src="../../assets/icons/github_icon.svg"></a>
                <span class="team_member_name">Antosha</span>
            </div>
            <div class="footer_team_member">
                <a href="https://github.com/sveta077"><img class="github_logo" src="../../assets/icons/github_icon.svg"></a>
                <span class="team_member_name">Svetlana</span>
            </div>
            <div class="footer_team_member">
                <a href="https://github.com/pssofer"><img class="github_logo" src="../../assets/icons/github_icon.svg"></a>
                <span class="team_member_name">Pavel</span>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>