html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sofia', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 1;
    background-color: white;
    display: flex;
    font-weight: 400;
    max-height: 1020px;
}

.authorization {
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: white; 
}

.main-game-block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.allcourses-game-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allcourses-game-block-item {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 400px;
    height: 220px;
    margin-top: 15px;
    border-radius: 20px;
    align-items: center;
}

.circle {
    background-color: rgb(241, 239, 239);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    position: relative;
    box-shadow: 3px 3px 3px gray;
    border: solid 1px black;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 40%;    
}

.game-block-wrapper {
    text-align: center;
}

.sprint-playbtn {
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    margin: 15px;
    box-shadow: 3px 3px 3px gray;
    border: solid 1px black;
}

.purple {
    background-color: rgb(219, 176, 245);
}

.pink {
    background-color: rgb(255, 71, 125);
}

.btn-wrapper, .wrapper-show, .text-circles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-voice {
    width: 70px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.show-img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    box-shadow: 3px 3px 3px gray;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.text-show {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.small-text {
    font-size: 20px;
}

.one-word-wrapper {
    margin: 20px;
}

.rus-text {
    font-size: 18px;
}
  