html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sofia', sans-serif;
    color: #000;
    background-color: white;
    display: flex;
    max-height: 1020px;
}

.authorization {
    position: absolute;
    right: 0;
    padding: 20px;    
}

.main-final-block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.allcourses-final-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allcourses-final-block-item {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 450px;
    height: 470px;
    margin-top: 15px;
    align-items: center;
}

.final-block-wrapper {
    width: 450px;
    height: 470px;
    text-align: left;
    padding-left: 10%;
    overflow-y: scroll;
}

.sprint-btn-play {
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 3px 3px 3px gray;
    border: solid 2px black;
    cursor: pointer;
}

.sprint-btn-play:hover {
    color: gold;
}

.voice {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.words {
    font-size: 18px;
    font-weight: bold;
}

.text-results {
    text-align: center;
}

.wrapper-btn-play {
    padding-left: 30%;
    margin-top: 15px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
    height: 853.12px;
    background-color: black;
    margin: 34px 0 23px 32px;
    border-radius: 25px;
}

.sidebar-nav {
    margin-top: 100px;
}

.nav-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 44px;
}

.nav-list {
    font-size: 15.71px;
}

.nav-list li {
    margin-bottom: 60px;
}

.nav-list img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 48px;
    height: auto;
    object-fit: none;
}

.sidebar-help {
    margin-top: auto;
}

.help {
    font-size: 15.7px;
}

.help-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
}
