/* navigation, authorization */

.auth_block {
    display: flex;
    margin: 34px 0px 0px 65px;
}
.auth_name {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.logout_icon {
    margin-top: 8px;
    width: 32px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.profile_icon {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}
.auth_name:hover {
    color: gold;
}