
/* mycourse */
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mycourse_container {
    display: flex;
    flex-direction: row;
}

.mycourse_current {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 500px;
    height: 80px;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-start;
}
.mycourse_spanish {
    display: flex;
    margin: 8px 0px 8px 8px;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mycourse_spanish_logo, .allcourses_item_logo {
    display: flex;
    width: 32px;
    height: 32px;
}
.mycourse_current_name {
    margin-left: 20px;
}
.mycourse_name_title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.mycourse_author {
    font-size: 13px;
    line-height: 15px;
}
.mycourse_progress {
    display: flex;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.mycourse_continue_btn {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.mycourse_arr_btns {
    display: flex;
    margin: 50px 0px 0px 15px;
    gap:20px;
}


/* allcourses */


.allcourses_container {
    margin-top: 40px;
}

.allcourses_container_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}
.allcourses_categories {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.allcourses_categories_item {
    font-size: 16px;
    line-height: 25px;
    color: gray;
}
.current {
    font-weight: bold;
    color: black;
}
.allcourses_block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.allcourses_block_item {
    display: flex;
    background-color: rgb(241, 239, 239);
    width: 620px;
    height: 80px;
    margin-top: 15px;
    border-radius: 20px;
    align-items: center;
}
.allcourses_item_title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.allcourses_item_author {
    font-size: 13px;
    line-height: 15px;
}
.allcourses_item {
    display: flex;
    margin: 8px 0px 8px 8px;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.allcourses_viewbtn {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.allcourses_item_name {
    margin-left: 20px;
}
.allcourses_item_time , .allcourses_item_rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}

/* statistic boxes */

.statistics_block_boxes {
    margin: 40px 0px 0px 65px;
    display: flex;
    gap: 25px;

}
.statistics_box_complete, .statistics_box_progress {
    display: flex;
    width: 208px;
    height: 100px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.statistics_box_total {
    font-size: 64px;
    font-weight: bold;
    line-height: 102px;
}
.statistics_box_title {
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}


/* games block */


.games_block {
    margin: 40px 0px 0px 65px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.games_block_title, .games_name {
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}
.games_sprint, .games_audiocall {
    display: flex;
    width: 440px;
    height: 132px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 3px gray;
    border: solid 1px black;
}
.sprint_img {
    height: 130px;
}


/* statistics */


.statistics_block {
    margin: 40px 0px 0px 65px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.statistics_block_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}